<div class="modal" role="dialog" id="editNotes" aria-modal="true"> 
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes Etudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">Proc..</div>
        <div class="card-body">
            <div id='candidat_notes' style="margin:0 30px"></div>
        </div>
         
        {# {% include 'evaluation/formation/pages/candidats_notes.html.twig' %} #}
      </div>
    </div>
  </div>
</div>