 {# <h4>Tableau des épreuves</h4> #}
 <div class="card-search" style="margin-bottom: 1.5rem;">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="etablissement">Etablissement:</label>
                            <select class="form-control" name="etablissementNrml" id="etablissementNrml">
                                <option value="">Choix Etablissement</option>
                                {% for etablissement in etablissements %}
                                    <option value="{{etablissement.id}}">{{etablissement.designation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="formation">Formation:</label>
                            <select class="form-control" name="formationNrml" id="formationNrml">
                                <option value="">Choix Formation</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="promotion">Promotion:</label>
                            <select class="form-control" name="promotionNrml" id="promotionNrml">
                                <option value="">Choix Promotion</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="semestre">Semestre:</label>
                            <select class="form-control" name="semestreNrml" id="semestreNrml">
                                <option value="">Choix Semestre</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="module">Module:</label>
                            <select class="form-control" name="moduleNrml" id="moduleNrml">
                                <option value="">Choix Module</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="element">Elément:</label>
                            <select class="form-control" name="elementNrml" id="elementNrml">
                                <option value="">Choix Elément</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="dateEpreuve">Date d'épreuve:</label>
                            <input class="form-control" type="date" id="dateEpreuveNrml" name="dateEpreuveNrml" >
                        </div>
                    </div>
                </div>
    <table id="list_epreuve_normal" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th width="100px">PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
                <th>Validée Par</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th>PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
                <th>Validée Par</th>
            </tr>
        </tfoot>
    </table>