<label for="designation">Designation : (*)</label>
<input type="text" class="form-control" name="designation" id="designation" placeholder="Designation" value="{{salle.designation}}"/>

<label for="abreviation">Abreviation : (*)</label>
<input type="text" class="form-control" name="abreviation" id="abreviation" placeholder="Abreviation" value="{{salle.abreviation}}" />


<button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
