<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<table style="width:100%">
    <tr style="width:100%">
        <td style="width:25%;text-align:center"> <img src="./assets/img/logo/Logo UIASS_bkack2.png" style="width:100px;margin: 0 auto;" > </td>
        <td style="width:70%;font-family: 'Source Sans Pro', sans-serif;"> <b>UNIVERSITE INTERNATIONALE ABULCASIS DES SCIENCES DE LA SANTE</b> </td>
    </tr>
</table>


<!-- <table style="width: 100%;" cellspacing="0">
    <tbody>
        <tr>
            <td style="width:15%;"><img style=" margin-left:5px;margin-top:10px; width: 100%;" src="../../webroot/images/img/Sanstitre.png" alt="Logo"></td>
            <td style="width:1%;"></td>
            <td style="width:70%;"><p style="margin-left:10px;margin-top:25px;width:5px;text-align:center;font-weight:bold;">UNIVERSITE INTERNATIONALE ABULCASIS DES SCIENCES DE LA SANTE</p></td>
        </tr>
    
    </tbody>

</table> -->