
<table style="width: 100%;" align="center" cellspacing="0">
            <tr>
               
                 <td style="width: 55%" align="left">

                    <img style=" margin-right: auto;margin-left:auto; float: right ; width: 180px;" src="./assets/img/logo/logo_uaiss_bkack.png" alt="Logo">
                </td>
                <td style="width: 80% ; font-weight: bold; text-align: center">UNIVERSITE INTERNATIONALE ABULCASIS DES SCIENCES DE LA SANTE<br/>ETAT DE DELIBERATION INDIVIDUELLE </td> 
            </tr>
</table>
