<div class="modal" role="dialog" id="creationFacturemodal" aria-modal="true"> 
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Création facture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {# <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> #}
          <form action="" class="form-creationFacture" id = "form-creationFacture">
            <div class="nature">
              <label for="nature">Nature De Demande:</label>
              <select class="form-control" name="nature" id="nature">
              </select>
            </div>
            <div class="pec" style="display:none">
              <label for="pec">Prise En Charge:</label>
              <select class="form-control" name="pec" id="pec">
              </select>
            </div>
            
            <div class="d-flex mt-5 mb-5">
              <button type="submit" class="btn btn-success ml-auto" id="enregistrer"> <i class="fas fa-check-circle"></i> Enregistrer</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>