<div class="modal" role="dialog" id="observation_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 400px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Observation d'inscriprion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
        <form id="observation_save">
          <label for="observation_inscription">Observation:</label>
          <input class="form-control" value="" placeholder="Observation.." name="observation_inscription" id="observation_inscription"/>
          <button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
        </form>
      </div>
    </div>
  </div>
</div>