<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<style type="text/Css">
    body{
        font-family: 'arial', 'sans serif';
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 1px solid #292929;
    }
    .titre-para{
        background :#c0bebe;
    }
    .loi{
        font-family: 'Arial MT'; 
        font-size: 8.5px;
        height:23px;
        padding: 0 0 0 3px;
    }
    .loi_arabic{
        direction: rtl;
        font-size: 9px;
        font-weight: bold;
        padding: 0 7px 0 0;
    }
    .loi b{ 
        font-size: 14px;
        font-weight: bold;
    }
</style>
<br>
<table style="width: 100%;" cellspacing="0">
    <tbody>
        <tr>
            <td style="width:40%; text-align:left;padding-left:50px"><img style="margin: 0 auto;width:175px" src="./assets/img/logo/Logo_UIASS_diplome.png" alt="Logo"></td>
            <td style="width:1%;"></td>
            <td style="width:35%; text-align:center;font-size:18px">
                <table style="width: 100%;font-family: 'Courier', 'sans serif';">
                    <tr>
                        <td style="width: 100%;font-size: 30px;"><b>دبلوم الدكتوراه في الطب العام</b></td>
                    </tr>
                    <tr>
                        <td style="width: 100%;font-size: 30px"><b>DIPLOME DE DOCTORAT
                            EN MEDECINE GENERALE</b></td>
                    </tr>
                </table>
            </td>
            <td style="width:1%;"></td>
            <td style="width:40%; text-align:right;padding-right:50px;"><img style="margin: 0 auto;width:175px" src="./assets/img/logo/Logo_RDM_diplome.jpg" alt="Logo"></td>
        </tr>
    </tbody>
</table>

<table style="width: 100%;">
    <tr>
        <td style="width: 100% ; height: 10px;"></td>
    </tr>
</table>
<table style="width: 100%;" cellspacing="0">
    <tr>
        <td class="loi">
            Vu la loi n° 01.00 portant organisation de l’enseignement supérieur, promulguée par le dahir n° 01.00.199 du 15 safar 1421 (19 Mai 2000) ;
        </td>
        <td class="loi loi_arabic">
            بناء على القانون رقم 01.00 المتعلق بتنظیم التعلیم العالي، الصادر بتنفیذه الظھیر الشریف رقم 1.00.199 بتاریخ 15 من صفر 1421(19 ماي 2000)، كما وقع تتمیمھ؛
        </td>
    </tr>
    <tr>
        <td class="loi">
            Vu le décret n° 2.14.665 du 16 moharrem 1436 (10 novembre 2014) pris en application des articles 53 et 54 de la loi n° 01.00 ;
        </td>
        <td class="loi loi_arabic">
            وعلى المرسوم رقم 2.14.665 الصادر في 16 من محرم 1436 (10 نونبر 2014) بتطبیق أحكام المادتین 53 و 54 من القانون رقم 01.00؛
        </td>
    </tr>
    <tr>
        <td class="loi">
            Vu le décret n° 2.15.183 du 7 chaoual 1436 (24 juillet 2015) précisant la liste des Universités et Institutions ayant un accord avec l’état ;
        </td>
        <td class="loi loi_arabic">
            وعلى المرسوم رقم 2.15.183 الصادر في 7 من شوال 1436 (24 یولیو 2015) بتحدید قائمة الجامعات والمؤسسات التي تربطھا اتفاقیة مع الدولة؛
        </td>
    </tr>
    <tr>
        <td class="loi">
            Vu le décret n° 2.09.717 DU 30 Rabii I 1431 (17 mars 2010) appliquant les articles 51 et 52 de la loi n° 01.00 ;
        </td>
        <td class="loi loi_arabic">
            وعلى المرسوم رقم 2.09.717 الصادر في 30 من ربیع الأول 1431 (17 مارس 2010) بتطبیق أحكام المادتین 51 و52 من القانون رقم 01.00؛
        </td>
    </tr>
    <tr>
        <td class="loi">
            Vu le decret n° 2.17.330 du 8 chaoual 1438 (3 juillet 2017) accordant la reconnaissance de l’état 
        </td>
        <td class="loi loi_arabic">
            وعلى المرسوم رقم 2.17.330 الصادر في 8 من شوال 1438 (3 یولیو 2017) القاضي بمنح اعتراف الدولة
        </td>
    </tr>
    <tr>
        <td class="loi">
            à l’université Internationale Abulcasis des Sciences de la Santé (UIASS) ;
        </td>
        <td class="loi loi_arabic">
            بالجامعة الدولیة الزھراوي لعلوم الصحة؛
        </td>
    </tr>
</table>
<!-- <table style="width: 100%;">
    <tr style="">
        <td style="width: 100% ; height: 20px;">
            <img style="width:100%" src="./assets/img/logo/loiDiplome.jpg" alt="loiDiplome">
        </td>
    </tr>
</table> -->

<table style="width: 100%;" cellspacing="0">
    <tr>
        <td class="loi">
            Vu le procès-verbal du jury de délibération tenu à la Faculté de Médecine Abulcasis le <b>21 Juillet 2022</b>
        </td>
        <td class="loi">
        </td>
        <td class="loi">
        </td>
        <td class="loi loi_arabic">
              واستنادا إلى محضر لجنة المداولة المنعقدة بكلیة الطب الزھراوي بتاریخ  <b>21 يوليوز 2022</b>
        </td>
    </tr>
    <tr>
        <td class="loi">
            Le Doyen de la Faculté de Médecine Abulcasis atteste que
        </td>
        <td class="loi">
        </td>
        <td class="loi">
        </td>
        <td class="loi loi_arabic">
            یشھد عمید كلیة الطب الزھراوي أن 
        </td>
    </tr>
    <tr>
        <td class="loi">
            L’étudiant(e)
        </td>
        <td class="loi">
        </td>
        <td class="loi">
        </td>
        <td class="loi loi_arabic">
            الطالب(ة)
        </td>
    </tr>
    <tr>
        <td class="loi">
            Code National d’Etudiant
        </td>
        <td class="loi">
            N° Carte d’Identité Nationale
        </td>
        <td class="loi">
             رقم البطاقة الوطنیة للتعریف
        </td>
        <td class="loi loi_arabic">
            لرقم الوطني للطالب(ة)
        </td>
    </tr>
    <tr>
        <td class="loi">
            A obtenu le
        </td>
        <td class="loi">
        </td>
        <td class="loi">
        </td>
        <td class="loi loi_arabic">
            أحرز(ت) على
        </td>
    </tr>
</table>
{# 
<table style="width: 100%;border-top: 1px solid#292929">
    <tr>
        <td style="width: 100% ; height: 10px;"></td>
    </tr>
</table> #}

