 {# <h4>Tableau des épreuves</h4> #}
 <div class="card-search" style="margin-bottom: 1.5rem;">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="etablissementRatt">Etablissement:</label>
                            <select class="form-control" name="etablissementRatt" id="etablissementRatt">
                                <option value="">Choix Etablissement</option>
                                {% for etablissement in etablissements %}
                                    <option value="{{etablissement.id}}">{{etablissement.designation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="formationRatt">Formation:</label>
                            <select class="form-control" name="formationRatt" id="formationRatt">
                                <option value="">Choix Formation</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="promotionRatt">Promotion:</label>
                            <select class="form-control" name="promotionRatt" id="promotionRatt">
                                <option value="">Choix Promotion</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="semestreRatt">Semestre:</label>
                            <select class="form-control" name="semestreRatt" id="semestreRatt">
                                <option value="">Choix Semestre</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="moduleRatt">Module:</label>
                            <select class="form-control" name="moduleRatt" id="moduleRatt">
                                <option value="">Choix Module</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="elementRatt">Elément:</label>
                            <select class="form-control" name="elementRatt" id="elementRatt">
                                <option value="">Choix Elément</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="dateEpreuveRatt">Date d'épreuve:</label>
                            <input class="form-control" type="date" id="dateEpreuveRatt" name="dateEpreuveRatt" >
                        </div>
                    </div>
                </div>
    <table id="list_epreuve_rattrapage" class="table table-striped" style="width:100%">
       <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th width="100px">PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
                <th>Validée Par</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Epreuve</th>
                <th>Date</th>
                <th>Nature</th>
                <th>Module</th>
                <th>Element</th>
                <th>ETAB</th>
                <th>FOR</th>
                <th>PRM</th>
                <th>Enseignant</th>
                <th>Statut</th>
                <th>Créateur</th>
                <th>Validée Par</th>
            </tr>
        </tfoot>
    </table>