<div class="modal" role="dialog" id="annuler_reglement_modal" aria-modal="true" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Anuller Plannification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label>Motif Annulation</label>
            <select class="form-control" name="motif_annuler" id="motif_annuler">
                <option value="" selected>Choix de motif</option>
                <option value="Basculement universitaire">Basculement universitaire</option>
                <option value="Chèque remplacer par virement">Chèque remplacer par virement</option>
                <option value="Chéque remplacer par versement">Chéque remplacer par versement</option>
                <option value="Chéque remplacer par chèque">Chéque remplacer par chèque</option>
                <option value="Transfert à l'hébergement">Transfert à l'hébergement</option>
                <option value="Objet de remboursement">Objet de remboursement</option>
                <option value="Autre">Autre</option>
            </select>
          </div>
          <button class="btn btn-danger" type="submit" id="Annuler_reglement"><i class="fas fa-times-circle"></i> Anuuler</button>
      </div>
    </div>
  </div>
</div>