<div class="modal" role="dialog" id="pec_modal" aria-modal="true"> 
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Numero de prise en charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="form-pec">
          
        </form>
      </div>
    </div>
  </div>
</div>