<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<style>
    .barcode {
        padding: 1.5mm;
        margin: 0;
        vertical-align: top;
        color: #000044;
    }
    .barcodecell {
        text-align: center;
        vertical-align: middle;
    }
</style>
{% for i in 1..netiquettes %}
    <page backtop="0mm" backbottom="0mm" backleft="0mm" backright="0mm" style="margin-top:50%;">
        <div class="barcodecell">
            <barcode code="{{inscription.id}}" type="C128A" height="0.7" size="4.5" />
            <p style="font-weight:700;font-size:100px;margin-top: -20px;"> {{anonymat}}</p>
        </div>
    </page>
    {% if i < netiquettes %}
        <pagebreak>
    {% endif %}
{% endfor %}
    {# <script>
        window.print()
    </script> #}
{# <pagebreak> #}
{# <html>
<head>
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
    .barcode {
        padding: 1.5mm;
        margin: 0;
        vertical-align: top;
        color: #000044;
    }
    .barcodecell {
        text-align: center;
        vertical-align: middle;
    }
</style>
</head>
<body>
<page backtop="0mm" backbottom="0mm" backleft="0mm" backright="0mm" style="margin-top:50%;">
    <div class="barcodecell">
        <p style="font-family: 'Libre Barcode 39';font-size: 130px;">{{inscription.id}}</p>
        <p style="font-weight:700;font-size:50px;margin-top: -180px;"> {{anonymat}}</p>
    </div>
</page>

<script>
alert('tzst')
window.print()
</script>
</body>
</html> #}