 {# <h4>Tableau des épreuves</h4> #}
    <table id="datatables_candidat_admis" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Code</th>
                <th>Etablissement</th>
                <th>Formation</th>
                <th>Promotion</th>
                <th>Semestre</th>
                <th>Module</th>
                <th>Element</th>
                <th>NE</th>
                <th>Statut</th>
                <th>Anonymat</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        <tfoot>
            <tr>
                <th>id</th>
                <th>Code</th>
                <th>Etablissement</th>
                <th>Formation</th>
                <th>Promotion</th>
                <th>Semestre</th>
                <th>Module</th>
                <th>Element</th>
                <th>NE</th>
                <th>Statut</th>
                <th>Anonymat</th>
            </tr>
        </tfoot>
    </table>