{% extends 'base.html.twig' %}

{% block title %}Univ - Groupe Inscriptions
{% endblock %}


{% block body %}
	<div class="main-content">
		<section class="section">
			<div class="section-header">
				<h1>auto functions</h1>

			</div>


		{% endblock %}

		{% block javascripts %}
			{{parent()}}
			{{ encore_entry_script_tags('auto_functions') }}

			{# <script src="/assets/js/admission/admissions.js"></script> #}

		{% endblock %}
