<div class="col-md-6" style="border-right: 1px solid #eee;">
    <fieldset>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>  C.N.E (*) :</label>
                    <input class="form-control" type="text" name="cne" placeholder="C.N.E" value=""> 
                </div>
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label>Académie  :</label>
                    <select class="form-control chosen-select" name="id_academie">
                        <option value="">Choix Académie</option>
                        <option value="aca00000022">Autres</option><option value="aca00000001">Chaouia-ouardigha</option><option value="aca00000002">Doukkala-Abda</option><option value="aca00000021">Ecole Américaine</option><option value="aca00000003">Fès-Boulmane </option><option value="aca00000004">Gharb-chrarda-beni hssen</option><option value="aca00000005">Grand Casablanca</option><option value="aca00000006">Guelmim-Es smara</option><option value="aca00000008">L'Oriental</option><option value="aca00000007">Laâyoune- Boujdour-Sakia Elhamraa</option><option value="aca00000009">Marrakech-Tansift-Alhaouz</option><option value="aca00000010">Meknes-Tafilalt</option><option value="aca00000018">Mission Espagnole</option><option value="aca00000017">Mission Française</option><option value="aca00000011">Oued Eddhab-Lagouira</option><option selected="" value="aca00000012">Rabat-Salé-Zemmour-Zaër</option><option value="aca00000013">Souss-Massa-Dra</option><option value="aca00000014">Tadla-Azilal</option><option value="aca00000015">Tanger-Tetouan</option><option value="aca00000016">Taza-El Houceima-Taounate</option>                                                        </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>filière  :</label>
                    <select class="form-control chosen-select" name="id_filiere">
                        <option value="">Choix Filière</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>établissement  :</label>
                    <input class="form-control" type="text" name="etablissement" placeholder="Etablissement" value=""> 
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Type de Bac :</label>
                    <select class="form-control chosen-select" name="id_type_bac">
                        <option value="">Choix Type</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>  Année Bac  :</label>
                    <input class="form-control" type="text" name="annee_bac" placeholder="Année Bac" value="2015"> 
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>  moyenne_bac  :</label>
                    <input class="form-control" type="text" name="moyenne_bac" placeholder="Moyen Bac" value="15.4"> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>  Observation :</label>
                    <textarea class="form-control" name="obs" style="width: 100%; height: 32px;"></textarea>
                </div>
            </div>
        </div>  
    </fieldset>
</div>
<div class="col-md-6 parents-tab" style="border-left: 1px solid #eee;">
    <fieldset>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label> catégorie préinscription  :</label>
                    <input class="form-control" type="text" name="categorie_preinscription" placeholder="Catégorie Préinscription" value=""> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label> frais préinscription :</label>
                    <input class="form-control" type="text" name="frais_preinscription" placeholder="Rrais préinscription" value="0"> 
                </div>
            </div> 
        </div>
        <div class="col-md-12 row">         
            <div class="col-md-6">
                <div class="form-group">
                    <label>  langue concours  :</label>
                    <select class="form-control chosen-select" name="langue_concours">
                        <option value="">Choix Établissement</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>  Concours  :</label>
                    <input class="form-control" type="text" name="concours_medbup" placeholder="Concours" value=""> 
                </div>
            </div>
        </div>
    </fieldset>      
</div> 

