<div style="margin-left:30px">
    <div class="col-md-3">
        <div class="form-group">
            <label>  Nom (*) :</label>
            <input class="form-control" type="text" name="nom" placeholder="Nom" value="XXXX"> 
        </div>
    </div> 

    <div class="col-md-3">
        <div class="form-group">
            <label>  Prénom (*) :</label>
            <input class="form-control" type="text" name="prenom" placeholder="Prénom" value="XXXX"> 
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Titre (*) :</label>
            <input class="form-control" type="text" name="titre" placeholder="Titre" value="Mr"> 
        </div>
    </div> 

    <div class="col-md-3">
        <div class="form-group">
            <label>  date Naissance (*) :</label>
            <input class="form-control datepicker" type="text" name="date_naissance" placeholder="Date Naissance" value="00/00/1998">
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Lieu de naissance (*) :</label>
            <input class="form-control" type="text" name="lieu_naissance" placeholder="Lieu de naissance" value="XXXX">
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label> Sexe (*) :</label><br>                 
            <input type="radio" name="sexe" id="homme" value="homme"> 
            <label style="margin: 0px 10px 0px 0px;"  for="homme"> Homme </label>   
            <input type="radio" name="sexe" id="femme" value="femme" checked=""> 
            <label style="margin: 0px 10px 0px 5px;" for="femme">&nbsp;&nbsp;&nbsp; Femme </label> 
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Situation Familiale  (*) :</label>
            <input class="form-control" type="text" name="st_famille" placeholder="Situation Familiale" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Situation Familiale  Parents (*) :</label>
            <input class="form-control" type="text" name="st_famille_parent" placeholder="Situation Familiale  Parents" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  nationalite (*) :</label>
            <input class="form-control" type="text" name="nationalite" placeholder="Nationalite" value="xxxxx"> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  C.I.N (*) :</label>
            <input class="form-control" type="text" name="cin" placeholder="C.I.N" value="AE00000"> 
        </div>
    </div> 

    <div class="col-md-3">
        <div class="form-group">
            <label>  passeport (*) :</label>
            <input class="form-control" type="text" name="passeport" placeholder="Passeport" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Ville (*) :</label>
            <input class="form-control" type="text" name="ville" placeholder="Ville" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Téléphone 1  :</label>
            <input class="form-control" type="text" name="tel1" placeholder="Téléphone 1" value="060000000"> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Téléphone 2  :</label>
            <input class="form-control" type="text" name="tel2" placeholder="Téléphone 2" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Téléphone 3  :</label>
            <input class="form-control" type="text" name="tel3" placeholder="Téléphone 3" value=""> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Mail 1 :</label>
            <input class="form-control" type="text" name="mail1" placeholder="Mail 1" value="xxxx"> 
        </div>
    </div> 
    
    <div class="col-md-3">
        <div class="form-group">
            <label>  Mail 2 :</label>
            <input class="form-control" type="text" name="mail2" placeholder="Mail 2" value=""> 
        </div>
    </div> 
    
    <div class="col-md-6">
        <div class="form-group">
            <label>  Adresse :</label>
            <textarea class="form-control" name="adresse" style="width: 100%; height: 32px;">xxxx</textarea>
        </div>
    </div> 
</div>   