<div style="margin-left:30px">
    <div class="col-md-3">
        <div class="form-group">
            <label> Bourse :</label><br>                 
            <input type="radio" name="bourse" id="nbourse" value="0" checked=""> 
            <label style="margin: 0px 10px 0px 0px;"  for="nbourse"> Non </label>   
            <input type="radio" name="bourse" id="bourse" value="1"> 
            <label style="margin:10px" for="bourse"> Oui </label> 
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label> Logement :</label><br>                 
            <input type="radio" name="logement" id="nlogement" value="0" checked=""> 
            <label style="margin: 0px 10px 0px 0px;"  for="nlogement"> Non </label>   
            <input type="radio" name="logement" id="logement" value="1"> 
            <label style="margin:10px" for="logement"> Oui </label> 
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label> Parking :</label><br>                 
            <input type="radio" name="parking" id="nparking" value="0" checked=""> 
            <label style="margin: 0px 10px 0px 0px;"  for="nparking"> Non </label>   
            <input type="radio" name="parking" id="parking" value="1"> 
            <label style="margin:10px" for="parking"> Oui </label> 
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Nombre des frères : </label>
            <input class="form-control" type="nombre" name="freres" placeholder="Nombre des frères" value="0"> 
        </div>
    </div> 

    <div class="col-md-6">
        <div class="form-group">
            <label>Nature De Demande  :</label>
            <select class="form-control chosen-select" name="nat_demande">
                <option value="">Choix Nature</option>
                <option selected="" value="12">Payant</option>
            </select>
        </div>
    </div>
    
    {# <div class="col-md-3">
        <div class="form-group">
            <label> Admission :</label><br>                 
            <input type="radio" name="admission" id="admis" value="admis" checked=""> 
            <label style="margin:10px"  for="admis"> Admis à FMP </label>   
            <input type="radio" name="admission" id="la" value="la"> 
            <label style="margin:10px" for="la">&nbsp;&nbsp;&nbsp; LA FMP </label> 
        </div>
    </div> #}
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary mt-4 float-right update_f" ><i class="fas fa-edit"></i> Modifier</button>
    </div>
</div>   