{% extends 'base.html.twig' %}

{% block title %}Univ - Groupe Inscriptions{% endblock %}

{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
        <h1>Import Groupes Inscriptions</h1>
        <div class="section-header-breadcrumb">
            {# <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Layout</a></div>
            <div class="breadcrumb-item">Default Layout</div> #}
            <a href="#" class="btn btn-primary canvas_grpins"><i class="fas fa-file-download "></i>  Canvas</a>
            <button class="btn btn-success ml-2 " id="modal_group_ins"><i class="fas fa-file-upload"></i>  Import</button>
        </div>
        </div>

        <div class="section-body">
        <div class="card">
            <div class="card-header">
            <h4>Tableau des inscriptions</h4>
            </div>
            <div class="card-body">
            <table id="datables_group_inscription" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Promotion</th>
                        <th>Formation</th>
                        <th>Année</th>
                        <th>Niv 1</th>
                        <th>Niv 2</th>
                        <th>Niv 3</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Promotion</th>
                        <th>Formation</th>
                        <th>Année</th>
                        <th>Niv 1</th>
                        <th>Niv 2</th>
                        <th>Niv 3</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            
        </div>
        </div>
    </section>
</div>



<!--Modal Import Group-->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  id="fire-modal-1"
  aria-modal="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Group Inscription</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Please check your browser console</div> -->
        <form onsubmit="return false" id="import-group-ins" method="post">
          <div class="form-group">
            <label>Fichier xlsx</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-file-excel"></i>
                </div>
              </div>
              <input
                type="file"
                class="form-control myfile"
                name="file"
              />
            </div>
          </div>
          <button class="btn btn-success" type="submit" id="fire-modal-1-submit"><i class="fas fa-check-circle"></i> Enregistre</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-backdrop"></div> -->
{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}
