{% extends 'base.html.twig' %}

{% block title %}Univ - Groupe Inscriptions{% endblock %}


{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Admission</h1>
          <div class="section-header-breadcrumb">
            <div class="admissible_action">
                <button href="#" class="btn btn-primary  ml-1" id="admission"><i class="fas fa-check"></i>  Admission</button>
                <button href="#" class="btn btn-primary  ml-1" id="preinscription_modifier"><i class="fas fa-edit"></i> Modfier Preinscription</button>
                
            </div>
            <div class="admis_action" style="display: none;">
                <button href="#" class="btn btn-danger  ml-1" id="annuler"><i class="fas fa-exclamation-triangle"></i>  Annuler</button>                
            </div>
            
              
              <!-- <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins" ><i class="fas fa-stream"></i>  Suivi</button>
              <button href="#" class="btn btn-danger  ml-1" id="modal_group_ins" ><i class="fas fa-trash-alt"></i>  Supprimer</button>
              <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins" ><i class="fas fa-edit"></i>  Modifier</button>
              <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins"><i class="fas fa-plus-circle"></i>  Ajouter</button> -->

          </div>
        </div>

        <div class="section-body">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills">                
                    <li class="nav-item mr-2">
                        <a href="#candidats_admissibles" class="nav-link active">Candidats Admissibles</a>
                    </li>
                    <li class="nav-item">
                        <a href="#candidats_admis" class="nav-link">Candidats Admis</a>
                    </li>                
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="candidats_admissibles">
                       {% include 'admission/pages/candidat_admissibles.html.twig' %}                     
                    </div>
                    <div class="tab-pane fade" id="candidats_admis">
                       {% include 'admission/pages/candidat_admis.html.twig' %}                            
                    </div>
                </div>

            </div>
            
        </div>
        </div>
    </section>
</div>



<!--Modal Import Group-->
{# {% include 'etudiant/modals/valider.html.twig' %}
{% include 'etudiant/modals/importer.html.twig' %}
{% include 'etudiant/modals/date_d_appel.html.twig' %}
{% include 'etudiant/modals/statut.html.twig' %}
{% include 'etudiant/modals/releves_notes.html.twig' %}
{% include 'etudiant/modals/suivi.html.twig' %}
{% include 'etudiant/modals/supprimer.html.twig' %}
{% include 'etudiant/modals/modifier.html.twig' %}
{% include 'etudiant/modals/ajouter.html.twig' %} #}

{% endblock %}

{% block javascripts %}
{{parent()}}

<script src="/assets/js/admission/admissions.js"></script>

{% endblock %}

