{% extends 'base.html.twig' %}

{% block title %}Univ - Compte Etudiant{% endblock %}


{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Compte Etudiant</h1>
          <div class="section-header-breadcrumb">
              {# <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
              <div class="breadcrumb-item"><a href="#">Layout</a></div>
              <div class="breadcrumb-item">Default Layout</div> #}

              <button href="#" class="btn btn-primary  ml-1" id="valider-modal"><i class="fas fa-check"></i>  Valider</button>
              <button href="#" class="btn  btn-success ml-1" id="etudiant_import" ><i class="fas fa-file-excel"></i>  Importer Etudiants</button>
              <button href="#" class="btn btn-primary  ml-1" id="date-d-appel" ><i class="fas fa-phone"></i>  Date dernier appel</button>
              <button href="#" class="btn btn-primary  ml-1" id="etudiant_statut" ><i class="far fa-check-square"></i>  Statut</button>
              <button href="#" class="btn btn-primary  ml-1" id="releve_note" ><i class="fas fa-copy"></i>  Relevés notes</button>
              <!-- <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins" ><i class="fas fa-stream"></i>  Suivi</button>
              <button href="#" class="btn btn-danger  ml-1" id="modal_group_ins" ><i class="fas fa-trash-alt"></i>  Supprimer</button>
              <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins" ><i class="fas fa-edit"></i>  Modifier</button>
              <button href="#" class="btn btn-primary  ml-1" id="modal_group_ins"><i class="fas fa-plus-circle"></i>  Ajouter</button> -->

          </div>
        </div>

        <div class="section-body">
        <div class="card">
            <div class="card-header">
            <h4>Tableau des etudiants</h4>
            </div>
            <div class="card-body">

            <table id="datables_etudiant" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Categorie</th>
                        <th>Type de bac</th>
                        <th>Note</th>
                        <th>Télé1</th>
                        <th>Télé2</th>
                        <th>Valider</th>
                        <th>Statut</th>
                        <th>D.D.Appele</th>
                        <th>D.import</th>
                        <th>Rég</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Categorie</th>
                        <th>Type de bac</th>
                        <th>Note</th>
                        <th>Télé1</th>
                        <th>Télé2</th>
                        <th>Valider</th>
                        <th>Statut</th>
                        <th>D.D.Appele</th>
                        <th>D.import</th>
                        <th>Rég</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            
        </div>
        </div>
    </section>
</div>



<!--Modal Import Group-->
{% include 'etudiant/modals/valider.html.twig' %}
{% include 'etudiant/modals/importer.html.twig' %}
{% include 'etudiant/modals/date_d_appel.html.twig' %}
{% include 'etudiant/modals/statut.html.twig' %}
{% include 'etudiant/modals/releves_notes.html.twig' %}
{% include 'etudiant/modals/suivi.html.twig' %}
{% include 'etudiant/modals/supprimer.html.twig' %}
{% include 'etudiant/modals/modifier.html.twig' %}
{% include 'etudiant/modals/ajouter.html.twig' %}

{% endblock %}

{% block javascripts %}
{{parent()}}

<script src="/assets/js/etudiant/etudiant.js"></script>

{% endblock %}

